/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "bootstrap";

.table-striped > tbody > tr.game-attending-row td {
	background: #CEF3CE;
	//border-color: #666;

	.btn-success {
		border: 1px solid #000;
	}
}

.table-striped > tbody > tr.game-not-attending-row td {
	background: #FDCFCF;

	.btn-danger {
		border: 1px solid #000;
	}
}
